@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* width: 100vw; */
    /* overflow-x: hidden; */
    font-family: "Poppins", sans-serif;
    background-color: white;
}

/* @media (max-width: ${({ theme }) => theme.breakpoints.lg}) {
    #root{
        overflow-x: hidden;
    }
} */

@media screen and (max-width : 992px ) {
    #root{
        overflow-x: hidden;
    }
}

input:focus{
    outline: none;
}
